<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
        <header>
        <div class="nav-left">
        <h1><a href="{% url 'home' %}">FlippiNote</a></h1>
        </div>
        <div class="nav-right">
        <a href="#">+ New Note</a>
        </div>
        </header>
        {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        {% else %}
        <p>You are not logged in.</p>
        <a href="#">Log In</a>
        {% endif %}
        {% block content %}
        {% endblock content %}
        </div>
        </body>
</html>